################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokemonGoScanner/packages/*
/PokemonGoScanner/PokemonGoScanner/bin/*
/PokemonGoScanner/PokemonGoScanner/obj/*
*.suo
