################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokemonGoScanner/packages/*
/PokemonGoScanner/PokemonGoScanner/bin/*
/PokemonGoScanner/PokemonGoScanner/obj/*
/PokemonGoScanner/PokemonGoScanner/Properties/*
/PokemonGoScanner/ScannerService/bin/*
/PokemonGoScanner/ScannerService/csx/*
/PokemonGoScanner/ScannerService/obj/*
/PokemonGoScanner/ScannerWorkerRole/bin/*
/PokemonGoScanner/ScannerWorkerRole/obj/*
PokemonGoScanner/ScannerWorkerRole/Properties/AssemblyInfo.cs
PokemonGoScanner/PokemonGoScanner/PokemonGoScanner.csproj.user
PokemonGoScanner/.vs/PokemonGoScanner/v14/.suo
/PokemonGoScanner/.vs/config/applicationhost.config
/PokemonGoScanner/AppModels/obj/*
/PokemonGoScanner/AppModels/bin/*
/PokemonGoScanner/PokemonGoScannerDb/bin/*
/PokemonGoScanner/PokemonGoScannerDb/obj/*
/PokemonGoScanner/PokemonGoScannerDb/PokemonGoScannerDb.sqlproj.user
